.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .questionCount {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .questionText {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .answerSection {
    display: flex;
    flex-direction: column;
  }
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .correctAnswer {
    background-color: green; /* Пример стиля для правильного ответа */
  }
  
  .incorrectAnswer {
    background-color: red; /* Пример стиля для неправильного ответа */
  }
  
  .scoreSection {
    text-align: center;
    margin-top: 20px;
  }
  